.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Created this CSS for Wikipedia search results BootStrap table */

td:not(.threeDCellExclude) {
  cursor: crosshair;
}

.threeDCell {
  background-color: green; 
  color: yellow;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-right: 3px solid #4a4d08;  /* Adjust color as needed */
  border-bottom: 3px solid #1c3d03; /* Adjust color as needed */
  box-sizing: border-box;          /* This ensures the border width is included in the elements total width and height */
}
